<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>MySQL Users</name>
    <version>100</version>
    <defaultcat>Databases</defaultcat>
    <desc>MySQL Users allows you to add users and permissions to your MySQL databases.</desc>
    <authorname>GKPanel Project</authorname>
    <authoremail>developers@cybercore.tv</authoremail>
    <authorurl>http://www.cybercore.tv/</authorurl>
</module>