<?xml version="1.0" encoding="utf-8"?>
<module>
    <name>GKPanel Core System Module</name>
    <version>100</version>
    <defaultcat>other</defaultcat>
    <type>system</type>
    <desc>Core system modules for XPanelX.</desc>
    <authorname>GKPanel Project</authorname>
    <authoremail>huygk@cybercore.tv</authoremail>
    <authorurl>http://www.cybercore.tv/</authorurl>
    <updateurl></updateurl>
</module>