<?xml version="1.0" encoding="utf-8"?>
<module>
<name>Visitor Stats</name>
<version>100</version>
<type>user</type>
<defaultcat>Advanced</defaultcat>
<desc>Visitor stats lets you see who has been visiting your website!</desc>
<authorname>HuyGK</authorname>
<authoremail>HuyGK@cybercore.tv</authoremail>
<authorurl>http://HuyGK.txt-clan.com/</authorurl>
<updateurl>http://HuyGK.txt-clan.com/visitor_stats.xml</updateurl>
</module>